@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    }

    /* Default Design */
    .subtitle{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
    }

    .hide{
        display: none;
    }
    /* Default Design Ends */

    body {
    margin: 0 auto;
    font-family: Inter;
    }

    header{
        /* width: 1440px;
        height: 715px; */
        max-width: 160vh;
        height: 80.6vh;
        left: 0;
        top: 0;
        background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(11, 11, 11, 0.613) 100%);
        margin: 0 auto;
    }
    nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 4rem;
    }

    
    .brand{
        text-decoration: none;
        color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 36px;
        font-weight: 800;
    }
    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        gap: 25px;
        width: 25.3rem;
        height: 3.3rem;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 39px;
    }

    .list-item{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
       
    }

    #Home{
        width: 62px;
        height: 22px;
        border-radius: 46px;
        background: rgb(230, 83, 60);
        padding: 8px 10px 8px 20px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
    }

    .head-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-text{
            width: 600px;
            height: 440px;           
        }
    
        .nav-title{
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 78px;
            font-weight: 800;
        }

        .shape{
            
                font-family: "Sevillana", cursive;
                font-size: 78px;
                font-style: normal;
                font-weight: 800;
            }
    .nav-sub{
        font-size: 16px;
    }

    .text-sec-button{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin-top: 28px;
    }

    .btn{
        width: 150px;
        height: 25px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        padding: 15px 20px 10px 50px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }
    
    .btn-1{
        width: 150px;
        height: 25px;
        border-radius: 42px;
        border: 1px solid rgb(255, 255, 255);
        padding: 15px 20px 10px 50px;
        font-weight: 700;
        color: rgb(255, 255, 255);
    }

    .img-sec{
        margin-bottom: 200px;
    }

    .card1{
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        opacity: 0.8;
    height: 100px;
    width: 240px;
    margin-top:-170px;
    margin-left: -130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    
    .ball{
        height: 50px;
        width: 50px;
        background-color: rgb(230, 83, 60);
        border-radius: 50%;
        
    }
    
    .card1-item{
        display: flex;
        flex-direction: column;
        color: white;
        
    }
    
    .card1-item h2{
        font-family: Inter;
    font-size: 24px;
    font-weight: 800;
    }

    .card2{
        margin-top: -350px;
        margin-left: 200px;
    }
    
    .card2 h2{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 40px;
        font-weight: 900;
    }
    
    
    #toggler, label{
    display: none;
    }
    label i{
    color: white;
    }

    /* HABIT SECTION STARTS HERE */
    .habit{
        max-width: 160vh;
        height: 110vh;
        left: 0;
        top: 0;
        background:black;
        margin: 0 auto;
    }
    .habit-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2px;
    }
    .habit-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        margin-top: 60px;
    }

    .habit-sub{
        text-align: center;
        margin-top: 30px;
    }

    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
    }

    .cardbox{
        width: 220px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardbox img{
        border-radius: 50%;
        margin-top: 20px;
        border: 3px solid lightgrey;
    }

    .cardbox h3{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
    }

    .cardbox p{
        margin-top: 15px;
        text-align: center;
    }

    /* HABIT SECTION ENDS HERE */

    /* RUN SECTION STARTS HERE */
    .run-text{
        width: 443px;
        height: 290px;
        left: 54px;
        top: 41px;
    }

    .run-text h1{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
    }

    .run-sub{
        margin-top: 20px;
    }

    .run-btn{
        width: 110px;
        height: 25px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 30px 15px 50px;
        margin-top: 30px;
        cursor: pointer;
    }

    .run-img{
        width: 443px;
        height: 290px;
    }

    .run-img img{
        width: 366px;
        height: 312px;
        border-radius: 18px;
       padding: auto;
    }

    .run-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 1060px;
        height: 371px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        margin: 0 auto;
        margin-top: 100px;   
    }
    /* RUN SECTION EndS HERE */

    /* Training Section Starts Here */
    .traning-section{
        margin: 0 auto;
        background: black;
        max-width: 160vh;
        height: 100vh
    }

    .traning-text h1{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        padding-top: 70px;
    }

    .traning-text p{
        margin-top: 20px;
    }

    .traning-text{
        width: 671px;
        height: 120px;
        margin-left: 230px;
    }

    /* IMAGE COLLAGE */

    .row01{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    .exr-img1{
        width: 310px;
        height: 214px;
        background-image: url(./images/exercise1.jpg);
        background-position: center;
        background-size: 322px;
        background-repeat: no-repeat;
    }

    .image01{
        width: 310px;
        height: 214px;
        background-color: rgba(6, 255, 210, 0.4)
    }

    .image01 p{
        color: black;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        padding-top: 170px;
        padding-left: 20px;
    }

    .exr-img2{
        width: 450px;
        height: 214px;
        background-image: url(./images/exercise2.png);
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
    }

    .image02{
        width: 450px;
        height: 214px;
        background-color: rgba(255, 0, 0, 0.3)
    }

    .image02 p{
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        color: white;
        padding-top: 30px;
        padding-left: 30px;
    }

    .exr-img3{
        width: 290px;
        height: 214px;
        background-image: url(./images/exercise3.png);
        background-position: center;
        background-size: 400px;
        background-repeat: no-repeat;
    }

    .image03{
        width: 290px;
        height: 214px;
        background-color: rgba(0, 0, 0, 0.5)
    }

    .image03 p{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        padding-top: 150px;
        padding-left: 30px;
    }

    .row02{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .exr-img4{
        width: 380px;
        height: 214px;
        background-image: url(./images/exercise4.png);
        background-position: center;
        background-size: 400px;
        background-repeat: no-repeat;
    }

    .image04{
        width: 380px;
        height: 214px;
        background-color: rgba(0, 0, 0, 0.5)
    }

    .image04 p{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        padding-top: 30px;
        padding-left: 210px;
    }

    .exr-img5{
        width: 320px;
        height: 214px;
        background-image: url(./images/exercise5.jpg);
        background-position: center;
        background-size: 350px;
        background-repeat: no-repeat;
    }

    .image05{
        width: 320px;
        height: 214px;
        background-color: rgba(66, 255, 0, 0.3)
    }

    .image05 p{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        padding-top: 150px;
        padding-left: 30px;
    }

    .exr-img6{
        width: 350px;
        height: 214px;
        background-image: url(./images/exercise6.jpg);
        background-position: center;
        background-size: 350px;
        background-repeat: no-repeat;
    }

    .image06{
        width: 350px;
        height: 214px;
        background-color: rgba(0, 71, 255, 0.3)
    }

    .image06 p{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        padding: 0;
    }

    /* IMAGE COLLAGE */

    .bmi-txt{
        width: 671px;
        height: 120px;
        margin: 0 auto;
        margin-top: 90px;
    }

    .bmi-txt h1{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
    }
    /* Training Section Ends Here */

    /* Calculate Section Starts Here*/
    .calculate-sec{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 160vh;
        height: 48vh;
        background-color:  rgb(34, 34, 34);
        margin: 0 auto;
    }

    .table-head{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 53px;
    }
    
    table{
        border-collapse: collapse;
    }
    td{
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
    }
    th{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        text-align: left;
    }

    .bmi-input-sec{
        width: 577px;
        height: 386px;
    }

    .bmi-input-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 25px;
        font-weight: 900;
        margin-top: 55px;
        margin-bottom: 20px;
    }
    .bmi-input-subtitle{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .input-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .clc-button{
        width: 228px;
        height: 22px;
        padding: 12px 40px 12px 20px;
        border-radius: 8px;
        border: none;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;

    }

    .sex-btn{
        width: 287px;
        height: 45px;
        padding: 12px 40px 12px 20px;
        border-radius: 8px;
        border: none;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 14px;
        font-weight: 300;
    }

    #factor{
        width: 580px;
        height: 47px;
        border: none;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.6);
        font-family: Inter;
        font-size: 14px;
        font-weight: 300;
    }

    .clc-btn{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        padding: 13px 60px 13px 60px;
        border: none;
        margin-top: 20px;
    }
    /* Calculate Section Ends Here*/

    /* Trainer Section Starts Here */
    .trainer-section{
        margin: 0 auto;
        background: black;
        max-width: 160vh;
        height: 90vh
    }
    .trainer-text-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .trainer-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        margin-top: 80px;
    }

    .trainer-subtitle{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }

    .tariner-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 890px;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 auto;
        padding: 20px 20px 20px 20px;
        margin-top: 70px;
    }

    .info-card01{
        width: 280px;
        height: 230px;
        background-image: url(./images/trainer1.png);
        background-repeat: no-repeat;
        background-size: 330px;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.2),url(image);
    }

    .info-name{
        color: white;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        padding-top: 170px;
        padding-left: 20px;
    }
    .info-designation{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        padding-left: 20px;
    }

    .info-card02{
        width: 280px;
        height: 230px;
        background-image: url(./images/trainer2.png);
        background-repeat: no-repeat;
        background-size: 330px;
        border-radius: 18px;
    }
    .info-card03{
        width: 280px;
        height: 230px;
        background-image: url(./images/trainer3.png);
        background-repeat: no-repeat;
        background-size: 330px;
        border-radius: 18px;
    }
    .info-card04{
        width: 280px;
        height: 230px;
        background-image: url(./images/trainer4.png);
        background-repeat: no-repeat;
        background-size: 405px;
        background-position: center;
        border-radius: 18px;
    }

    .info-card05{
        width: 280px;
        height: 230px;
        background-image: url(./images/trainer5.png);
        background-repeat: no-repeat;
        background-size: 280px;
        border-radius: 18px;
    }

    .info-card06{
        width: 280px;
        height: 230px;
        background-image: url(./images/trainer6.png);
        background-repeat: no-repeat;
        background-size: 280px;
        border-radius: 18px;
    }

    
    /* Trainer Section Endss Here */

    /* Challenge PArt Starts Here */
    .challenge-Section{
        margin: 0 auto;
        background: black;
        max-width: 160vh;
        height: 180vh
    }
    
    .challenge-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .challenge-text h1{
        color: white;
        font-family: Inter;
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    .challenge-text p{
        color: gray;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;
    }
    .accessories-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 118vh;
        padding: 10px;
        border-radius: 14px;
        gap: 10px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.1);

    }
    .img-overlay01{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-01.jpg);
        background-repeat: no-repeat;
        background-size: 270px;
        background-position: center;
    }
    .img01{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 8, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img01 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 500;
        font-size: 28px;
    }

    .img01 h2:hover{
        width: 100px;
        height: 35px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        
    }

    .img-overlay02{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-02.png);
        background-repeat: no-repeat;
        background-size: 270px;
        background-position: top;
    }

    .img02{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(255, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img02 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img02 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
    }
    .img-overlay03{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-03.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: top;
    }

    .img03{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 174, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img03 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img03 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay04{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-04.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: top;
    }

    .img04{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 242, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img04 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img04 h2:hover{
        width: 140px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay05{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-05.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: top;
    }

    .img05{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 255, 110, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img05 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img05 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay06{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-06.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: right;
    }

    .img06{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(179, 255, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img06 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img06 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay07{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-07.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: right;
    }

    .img07{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(255, 119, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img07 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img07 h2:hover{
        width: 80px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay08{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-08.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: right;
    }

    .img08{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(255, 60, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img08 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img08 h2:hover{
        width: 80px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay09{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-09.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position: center;
    }

    .img09{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(255, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img09 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img09 h2:hover{
        width: 80px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay10{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-10.jpg);
        background-repeat: no-repeat;
        background-size: 320px;
        background-position:top;
    }

    .img10{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(187, 0, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img10 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img10 h2:hover{
        width: 80px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay11{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-11.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position:top;
    }

    .img11{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 149, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img11 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img11 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay12{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-12.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position:top;
    }

    .img12{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 225, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img12 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img12 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay13{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-13.jpg);
        background-repeat: no-repeat;
        background-size: 330px;
        background-position:top;
    }

    .img13{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 225, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img13 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img13 h2:hover{
        width: 120px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay14{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-14.jpg);
        background-repeat: no-repeat;
        background-size: 320px;
        background-position:bottom;
    }

    .img14{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 225, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img14 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img14 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay15{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-15.jpg);
        background-repeat: no-repeat;
        background-size: 320px;
        background-position:bottom;
    }

    .img15{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(34, 255, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img15 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img15 h2:hover{
        width: 120px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }
    .img-overlay16{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-image: url(./images/Accessories-16.jpg);
        background-repeat: no-repeat;
        background-size: 320px;
        background-position:bottom;
    }

    .img16{
        width: 270px;
        height: 214px;
        border-radius: 14px;
        background-color: rgba(0, 255, 128, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    .img16 h2{
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
    .img16 h2:hover{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(4, 226, 246);
        text-align: center;
        color: black;
        
    }

    /* Challenge Part Sticky */
    .first-row{
        position: sticky;
        top: 10px;
    }

    .second-row{
        position: sticky;
        top: 30px;
    }
    .Third-row{
        position: sticky;
        top: 50px;
    }
    .Fourth-row{
        position: sticky;
        top: 20px;
    }
    /* Challenge Part Sticky */

    /* Quote Part Start Here */
    .quote-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .quote-text h1{
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        color: white;
        te
    }
    .quote{
        max-width: 117.5vh;
        height: 40vh;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 auto;
        border-radius: 14px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .quote01{
        width: 58vh;
        background: rgba(255, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 14px;
    }
    .quote01-text{
        width: 30vh;
        height: 18vh;
    }
    .quote01-text h5{
        font-family: "Gupter", serif;
        font-weight: 600;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.536);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .quote01-text p{
        font-family: "Gupter", serif;
        font-weight: 700;
        font-size: 22px;
        color: darkgray;
    }

    .quote01-img{
        width: 150px;
        height: 150px;
        background-image: url(./images/quote01.jpeg);
        background-repeat: no-repeat;
        background-size: 150px;
        border-radius: 50%;
        border: 3px solid lightgray;
    }

    .quote02{
        width: 58vh;
        background: rgba(0, 255, 204, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 14px;
    }
    .quote02-text{
        width: 30vh;
        height: 18vh;
    }
    .quote02-text h5{
        font-family: "Gupter", serif;
        font-weight: 600;
        font-size: 18.5px;
        color: rgba(255, 255, 255, 0.536);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .quote02-text p{
        font-family: "Gupter", serif;
        font-weight: 700;
        font-size: 20.5px;
        color: darkgray;
    }

    .quote02-img{
        width: 150px;
        height: 150px;
        background-image: url(./images/quote02.jpeg);
        background-repeat: no-repeat;
        background-size: 200px;
        border-radius: 50%;
        background-position: center;
        border: 3px solid lightgray;
    }
    .quote03{
        width: 58vh;
        background: rgba(0, 89, 255, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 14px;
    }
    .quote03-text{
        width: 30vh;
        height: 18vh;
    }
    .quote03-text h5{
        font-family: "Gupter", serif;
        font-weight: 600;
        font-size: 18.5px;
        color: rgba(255, 255, 255, 0.536);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .quote03-text p{
        font-family: "Gupter", serif;
        font-weight: 700;
        font-size: 20.5px;
        color: darkgray;
    }

    .quote03-img{
        width: 150px;
        height: 150px;
        background-image: url(./images/quote03.jpeg);
        background-repeat: no-repeat;
        background-size: 150px;
        border-radius: 50%;
        background-position: top;
        border: 3px solid lightgray;
    }
    .quote04{
        width: 58vh;
        background: rgba(162, 0, 255, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 14px;
    }
    .quote04-text{
        width: 30vh;
        height: 18vh;
    }
    .quote04-text h5{
        font-family: "Gupter", serif;
        font-weight: 600;
        font-size: 18.5px;
        color: rgba(255, 255, 255, 0.536);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .quote04-text p{
        font-family: "Gupter", serif;
        font-weight: 700;
        font-size: 20.5px;
        color: darkgray;
    }

    .quote04-img{
        width: 150px;
        height: 150px;
        background-image: url(./images/quote04.jpeg);
        background-repeat: no-repeat;
        background-size: 250px;
        border-radius: 50%;
        background-position: top;
        border: 3px solid lightgray;
    }
    /* Quote Part End Here */
    /* Challenge PArt Ends Here */

    /* Footer Design Starts Here */
    footer{
        margin: 0 auto;
        background:rgba(0, 0, 0, 0.850);
        max-width: 160vh;
        height: 50vh
    }
    .footer-text{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 50px;
    }
    .footer-text01{
        max-width: 420px;
        height: 176px;
    }

    .footer-text01 h1{
        font-family: Inter;
        font-size: 60px;
        font-weight: 800;
        color: rgb(230, 83, 60);
    }
    
    .footer-text01 p{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }
    .footer-text02{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 200px;
    }

    .text02 h2{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 35px;
    }

    .text02 p{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    hr{
        max-width: 118vh;
        margin: 0 auto;
        margin-top: 45px;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }

    #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    #footer p{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
    }

    /* Footer Design Ends Here */

    /* For Small Device */
    @media screen and (max-width:576px){
        header{
            width: 58vh;
            height: 127vh;
            
        }

        .head-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 5px 0px 100px;
        }

        .img-sec img{
            width: 353px;
            height: 588px;
        }
    
    .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    }
    label{
    display: inline-flex;
    }

    .fa-bars{
        cursor: pointer;
    }

    .card01{
        height: 70px;
    width: 180px;
    }
    .card02{
        height: 75px;
        width: 180px;
    }

    .habit{
        width: 58vh;
        height: 255vh;
    }

    .card-container{
        flex-direction: column;
    }

    .run-container{
        width: 48vh;
        height: 70vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 50px;
    }

    .run-text{
        width: 380px;
        height: 210px;
        margin-top:-120px;
        margin-left: 20px;
    }

    .run-img{
        width: 420px;
        height: 210px;
        margin-top: 50px;
        margin-left: 50px;
    }

    .run-btn{
        width: 230px;
        height: 26px;
        /* padding: 16px 40px 16px 40px; */
        padding: 16px 0px 16px 130px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        border-radius: 42px;
        background: rgb(230, 83, 60);
    }

    .traning-section{
        width: 58vh;
        height: 83vh;
    }

    .exr-img3, .exr-img6, .display-none{
        display: none;
    }

    .exr-img1, .exr-img2{
        width: 205.95px;
        height: 139px;
        background-size: 250px;
    }

    #image02{
        background-size: 300px;
    }

    .image01, .image02{
        width: 205.95px;
        height: 139px;
    }
    .image01 p{
        padding-top: 100px;
        font-size: 14px;
        color: white;
    }
    .image02 p{
        font-size: 14px;
        color: white;
        padding: 0;
        padding-top: 20px;
        padding-left: 30px;
    }

    .image04 p{
        padding: 0;
        font-size: 12px;
        padding-top: 90px;
        padding-left: 20px;
    }

    .image05 p{
        padding: 0;
        font-size: 12px;
        padding-top: 90px;
        padding-left: 20px;
    }


    .exr-img4{
        width: 185px;
        height: 139px;
        background-size: 250px;
    }

    .exr-img5{
        width: 225px;
        height: 139px;
    }

    .image05{
        width: 225px;
        height: 139px;
    }

    .traning-text{
        width:35vh;
        padding: 0;
        margin-left: 70px;
        margin-top: -50px;
        margin-bottom: 200px;
    }

    .bmi-txt{
        width:35vh; 
        margin: 0;
        margin-left: 70px;
        margin-top: 50px;
    }
    
    .bmi-txt h1{
        font-size: 32px;
    }
    .bmi-txt p{
        text-align: justify;
        margin-top: 10px;
    }
    .calculate-sec{
        flex-direction: column;
        width: 58vh;
        height: 85vh;
    }
    .table-section{
        margin-left: -150px;
    }
    .bmi-input-sec{
        margin-left: -60px;
        width: 354px;
        height: 395px;
    }

    .clc-button{
        width: 115px;
        height: 22px;
        padding: 12px 40px 12px 20px;
    }
    .sex-btn{
        width: 173px;
        height: 45px;
        padding: 12px 40px 12px 20px;
    }
    #factor{
        width: 353px;
        height: 48px;
        padding: 12px 40px 12px 20px;
    }
    .trainer-section{
        width: 58vh;
        height: 140vh;
    }

    .trainer-text-cont{
        width: 320px;
        margin: 0 auto;
    }

    .trainer-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 35px;
        font-weight: 800;
    }

    .trainer-subtitle{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }

    .tariner-info{
        width: 30vh;
        display: flex;
        flex-direction: column;
    }

    .challenge-Section{
        width: 58vh;
        height: 210vh;
        background-color: black;
    }
    
    .challenge-text h1{
        color: white;
        font-family: Inter;
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    .accessories-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 30vh;
        height: 93.5vh;
        overflow-y: auto;
        overflow-x: hidden;        
    }
    .axcrs001{
        position: sticky;
        top: 10px;
    }
    .axcrs002{
        position: sticky;
        top: 20px;
    }
    .axcrs003{
        position: sticky;
        top: 30px;
    }
    .axcrs004{
        position: sticky;
        top: 40px;
    }
    .axcrs005{
        position: sticky;
        top: 50px;
    }
    .axcrs006{
        position: sticky;
        top: 60px;
    }
    .axcrs007{
        position: sticky;
        top: 70px;
    }
    .axcrs008{
        position: sticky;
        top: 80px;
    }
    .axcrs009{
        position: sticky;
        top: 90px;
    }
    .axcrs010{
        position: sticky;
        top: 100px;
    }
    .axcrs011{
        position: sticky;
        top: 110px;
    }
    .axcrs012{
        position: sticky;
        top: 120px;
    }
    .axcrs013{
        position: sticky;
        top: 130px;
    }

    .quote-text h1{
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    .quote{
        width: 54vh;
        height: 80vh;
        grid-template-columns: repeat(1, 1fr);
    }

    .quotebox{
        max-width: 54vh;
    }
    footer{
        width: 58vh;
        height: 96vh;       
    }
    .footer-text{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
    }

    .footer-text02{
        flex-direction: column;
        gap: 0;
    }
    hr{
        max-width: 54vh;
    }

    #footer{
        margin-top: 50px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        max-width: 106vh;
        height: 127.2vh;
        margin: 0 auto;
    }
    .head-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 5px 0px 100px;
    }
    .nav-text{
        position: relative;
        left: -170px;
    }

    .habit{
        max-width: 106vh;
        height: 150vh;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 60vh;
        position: relative;
        left: 220px;
    }

    .run-container{
        max-width: 90vh;
    }
    .run-text{
        position: relative;
        top: 0px;
        left: 40px;
    }
    .traning-section{
        max-width: 106vh;
        height: 105vh;
    }

    .exr-img1{
        width: 250px;
        height: 214px;
    }

    .image01{
        width: 250px;
        height: 214px;
    }

    .exr-img2{
        width: 350px;
        height: 214px;
    }

    .image02{
        width: 350px;
        height: 214px;
    }

    .exr-img3{
        width: 280px;
        height: 214px;
    }

    .image03{
        width: 280px;
        height: 214px;
    }

    .exr-img4{
        width: 370px;
        height: 214px;
    }

    .image04{
        width: 370px;
        height: 214px;
    }

    .image05{
        width: 260px;
        height: 214px;
    }
    .exr-img5{
        width: 260px;
        height: 214px;
    }
    .image06{
        width: 250px;
        height: 214px;
    }
    .exr-img6{
        width: 250px;
        height: 214px;
    }

    .traning-text{
        width: 500px;
        height: 120px;
        justify-content: center;
        align-items: center;
    }

    .traning-text h1{
        font-size: 40px;
    }
    .subtitle{
        text-align: center;
    }

    .bmi-txt{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bmi-txt p{
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .calculate-sec{
        max-width: 106vh;
        height: 80vh;
        flex-direction: column;
    }

    .table-section{
        position: relative;
        left: -160px;
    }

    .trainer-section{
        max-width: 106vh;
        height: 90vh;
    }

    .challenge-Section{
        max-width: 106vh;
        height: 209vh;
    }

    .accessories-container{
        grid-template-columns: repeat(3, 1fr);
        max-width: 90vh;
    }

    .row0001{
        position: sticky;
        top: 20px;
    }
    .row0002{
        position: sticky;
        top: 50px;
    }
    .row0003{
        position: sticky;
        top: 80px;
    }
    .row0004{
        position: sticky;
        top: 110px;
    }
    .row0005{
        position: sticky;
        top: 130px;
    }

    .hide16{
        display: none;
    }
    
    .quote{
        max-width: 89.5vh;
        height: 50vh;
    }

    .quote-medium{
        max-width: 42vh;
        padding: 10px;
    }
    footer{
        max-width: 106vh;
        height: 70vh;
    }
    .footer-text{
        flex-direction: column;
    }

    .footer-text01{
        position: relative;
        left: -220px;
    }
    .footer-text02{
        position: relative;
        left: -165px;
    }
    hr{
        max-width: 90vh;
    }
}